.custom-navbar {
    background-color: #000 !important; /* Black background */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #fff !important; /* White text */
}

.custom-navbar .nav-link {
    text-decoration: none !important;
    margin-right: 20px;
}

@media (max-width: 576px) {
    .custom-navbar .nav-link {
        margin-right: 0;
    }
}
